
.content-box {
  display: flex;
  flex-direction: column;
  height: 355px;
  padding: 0 20px;
}

.photo-wrapper {
  display: block;
  border-radius: 50%;
  z-index: 3;
}

.photo-wrapper-image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.user-profile {
  position: relative;
  margin-top: 20px;
  display: flex;
}

.profile-data {
  width: 100%;
  margin: 5px 0 0 10px;
  z-index: 2;
}

.user-name {
  font-size: 18px;
  margin: 0;
}

.specialty {
  color: #808080;
  font-size: 14px;
}

.subtitle,
.subtitle-mobile {
  margin-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 15px;
}

.subtitle::before {
  content: '';
  position: absolute;
  right: 0;
  background: #fffbc8;
  width: 115%;
  height: 100%;
  z-index: -1;
  border: 1px solid #cecabf;
  border-radius: 5px;
}

.subtitle div {
  margin-right: 10px;
}

.subtitle-mobile {
  display: none;
  background: #fffbc8;
  border: 1px solid #cecabf;
  border-radius: 5px;
}

.services {
  width: 320px;
  margin-top: 7px;
  align-self: flex-end;
  text-align: end;
}

.services span {
  margin-right: 33px;
}

.rating {
  text-align: left;
  line-height: 30px;
  border-top: 1px solid #cecabf;
  padding-top: 15px;
  border-bottom: 1px solid #cecabf;
  padding-bottom: 15px;
  margin: 15px 0;
}

.rating__item {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2px;
}

.rating__item_before_light_green::before {
  content: '';
  position: absolute;
  background: #b1e19b;
  height: 100%;
  width: 70%;
  z-index: -1;
  border-radius: 0 5px 5px 0;
}

.rating__item_before_blue::before {
  content: '';
  position: absolute;
  background: #ace2f8;
  height: 100%;
  width: 19%;
  z-index: -1;
  border-radius: 5px;
  border-radius: 0 5px 5px 0;
}

.rating__item_before_blue:last-child::before {
  width: 11%;
}

.service {
  padding-left: 7px; 
  border-left: 2px solid #9c9c9c85;
}

.counter {
  font-weight: bold;
  margin-right: 44px;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.total-amount__item:last-child {
  margin-right: 44px;
}
