
@media only screen and (max-width: 768px) {

  .user-profile__subtitle {
    font-size: 13px;
  }

  .services__info {
    font-size: 14px;
  }

  .services__rating,
  .services__total-amount {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  
  .content-box {
    height: 100%;
    padding: 0 10px;
  }

  .user-profile {
    margin-top: 10px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
  }

  .user-profile__photo-wrapper {
    height: 80px;
  }

  .user-profile__photo {
    width: 80px;
    height: 80px;
  }

  .user-profile__data-wrapper {
    width: auto;
  }

  .user-profile__name {
    font-size: 16px;
    line-height: 17px;
  }

  .user-profile__specialty {
    font-size: 12px;
  }

  .user-profile__inner {
    display: none;
  }

  .user-profile__subtitle-mobile {
    display: flex;
    height: auto;
    margin: 0;
  }

  .user-profile__text {
    margin: 0 10px;
  }

  .services {
    width: 100%;
  }

  .services__info {
    margin-right: 20px;
  }

  .counter {
    margin-right: 30px;
  }

  .all {
    margin-right: 30px;
  }
}
